body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
    background-color: rgb(219, 187, 1);
}

.welcome {
    text-align: center;
    color: rgb(215, 226, 226);
}

.search {
    text-align: center;
    margin-top: 30px;
}

.search input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid yellow;
    padding: 5px;
}

footer {
  background: transparent;
  color: #141414;
  text-align: center;
  padding: 1.5em ;
   bottom: -100;
  margin-top: 39em;
  font-size: 1em;
}

.btn {
    height: 40px;
    width: 60px;
    border: 1px solid yellow;
    background-color: skyblue;
    border-radius: 5px;
    color: black;
    margin-left: -30px;
    margin-bottom: 20px;
}

.grid-parent {
    width: 100%;
    height: 1400px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 50px;
    grid-template-rows: repeat(3, 450px);
    justify-content: center;
    align-items: center;
    color: black;
}

.grid-child {
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px lightgray;
}

.grid-child img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}

h1, p {
  animation: fadeIn 1s ease-in;
}

h1 {
  color: #333;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

p {
  color: #666;
  font-size: 1.2em;
  margin-bottom: 1em;
}

html {
  scroll-behavior: smooth;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}


@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
    text-align: center;
  }
  p {
    font-size: 1em;
    text-align: center;
  }
  body {
    padding: 10px;
  }
    .grid-parent {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
       .search input {
        width: 100%;
        margin-bottom: 20px;
    }
    .btn {
        width: 100%;
        margin-left: 0;
    }
       
    .search {
        margin-top: 20px;
    }
    .search input {
        width: 80%;
        margin: 0 auto;
    }

       .grid-child {
        width: 100%;
    }
    .grid-child img {
        width: 100%;
        height: 390px;
    }
    .btn {
        width: 50%;
        height: 50px;
        margin-top: 10px;
    }
    footer {
        font-size: 0.8em;
        padding: 1em;
        margin-top: -290px;
    }
    .welcome {
        font-size: 1.5em;
        margin-top: 20px;
    }
       .grid-parent {
        grid-template-columns: 1fr;
        gap: 90px;
    }
    
}